* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     max-width: 100%; 
}

:root {
    --pink: hsl(322, 100%, 66%);
    --palecyan: hsl(192, 100%, 96%);
    --darkcyan: hsl(192, 100%, 9%);
    --blue: hsl(208, 11%, 55%);
}

body {
    min-height: 100vh;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.all{
    width: 100%;
    max-width: 1500px;
}

/* HEADER CONTAINER */
header {
    background-image: url('bg-hero-desktop.svg');
    background-color: var(--palecyan);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--darkcyan);
}

.container1 {
    width: 90%;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.btn1 {
    padding: 5px;
    border-radius: 20px;
    width: 150px;
    background-color: white;
    font-weight: 400;
    border: none;
}

.btn1:hover {
    cursor: pointer;

}

.flex {
    display: flex;
}

.top1,
.bottom1 {
    width: 50%;
}

.top1 {
    padding: 4em 5em 0 0;
}

h2 {
    color: var(--darkcyan);
    padding-right: 9em;
    padding-bottom: 1em;
}

.top1 p {
    padding-bottom: 2em;
    font-weight: 400;
}

.btn2 {
    padding: 1em;
    border-radius: 20px;
    width: 200px;
    background-color: var(--pink);
    border: none;
    color: white;
    margin-top: 15px;
}

.btn2:hover {
    background-color: rgb(197, 86, 183);
    cursor: pointer;

}

/* MAIN CONTAINER */
.main {
    width: 80%;
    margin: 50px auto 20px auto;
    
}

.flexcontainer {
    display: flex;
    margin-bottom: 1em;
    box-shadow: 0px 0px 10px pink;
    border-radius: 10px;

}

.content1,
.content2 {
    width: 50%;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: left;
}

.content1 h3 {
    color: var(--darkcyan);
}

.content1 p {
    color: var(--blue);
    padding-top: 10px;
}

/* BOX */
.box {
    background-color: white;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    box-shadow: 0px 0px 10px pink;
    z-index: 3;
    margin:  0 auto;
    transform: translateY(70px);
   position: relative;
}


/* ANIMAATION */
@keyframes MOVE {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-5deg);
    }

    20% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(-5deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

 .flexcontainer img:hover {
    animation-name: MOVE;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

/* footer */
footer {
    background-color: var(--darkcyan);
    padding: 2em;
    padding-top: 3em;
    color: white;
    position: relative;

}

footer svg {
    margin-right: 10px;
}

.container {
    display: flex;
    width: 100%;

}

.column1 {
    width: 40%;
}

.column2,
.column3,
.column4 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
}

.column1 img {
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(100%);
    margin-bottom: 0.5em;
    width: 200px;
}

ul {
    list-style-type: none;
}

ul li {
    padding-bottom: 1em;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
.column4{
    display: flex;

}
.column4 li{
    display: inline;
    margin-left: 6px;
}

a.circle {
    border-radius: 50%;
    border: 1px solid white;
    display: inline-flex;
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding: 5px;
}

a.circle:hover {
    cursor: pointer;
    border-color: var(--pink);
    color: var(--pink);
    text-decoration: none;
}

.copyright {
    text-align: right;
}

/* MEDIA QUERY */
@media screen and (max-width:600px) {
    header {
        background-image: url('bg-hero-mobile.svg');
        background-color: var(--palecyan);
        background-size: cover;

    }
    body{
        max-width:500px;
    }
    .logo img {
        width: 100px;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .container1 {
        max-width: 100%;
    }

    .flex {
        width: 100%;

    }

    .top1,
    .bottom1 {
        width: 100%;
    }

    .top1 {
        padding: 0 1em;
        margin-bottom: 20px;
    }

    .top1 h2,
    p {
        text-align: center;
        padding-right: 0;
    }

    .btn2 {
        margin-left: 20%;
    }

    .bottom1 img {
        width: 80%;
        margin-left: 10%;
    }

    .flexcontainer {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #reverse {
        display: flex;
        flex-direction: column;
    }

    .content1,
    .content2 {
        width: 100%;
    }

    .content1 {
        padding: 0;
    }

    .content1 p {
        padding: 0 1em 2em 1em;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding-top: 3em;
    }

    .column1,
    .column2,
    .column3,
    .column4 {
        width: 100%;
    }

    .column2,
    .column3,
    .column4 {
        display: flex;
        align-items: flex-start;
    }

    .box {
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .box .btn2 {
        margin: 0;
        margin-top: 1em;
    }

    .column1 img {
        width: 100px;
    }

    .column4 ul{
        margin: auto;
    }
    .copyright{
        padding-top: 10px;
    }

}